<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paulo.projeto_p3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ShowPieceActivity" />
        <activity android:name=".AddItemActivity" />
        <activity android:name=".ConfigActivity" />

        <service
            android:name=".DownloadDataFromServer"
            android:enabled="true" />
        <service
            android:name=".JobDownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".NewPieceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.paulo.projeto_p3.NEW_PIECE_AVAILABLE" />
            </intent-filter>
        </receiver>

        <!-- Variaveis de ambiente para conectar com o ParseServer -->
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="N9slm42GZNB6G6BFzRIhOG04OWNNW5nuFTxQwPW0" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="EhqDcBMxIy3VVd8KOqim5QwPj0TZ6q6vpHgPGTyw" />

        <activity android:name=".HistoricActivity" />
        <activity android:name=".ListPendingPiecesActivity"></activity>
    </application>

</manifest>